@charset "UFT-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d3d3d3 ;
}
h1 {
    text-align: center;
}

header p {
    display: inline;
    padding: 10px;
    background-color: #808080;
    color: #ffffeb;
}
h2 {
    padding: 10px;
}


